In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
df = pd.read_csv(
    "https://s3.amazonaws.com/tripdata/201909-citibike-tripdata.csv.zip"
)

In [3]:
row  = df.iloc[0]
start, end = row["starttime"], row["stoptime"]

In [4]:
(pd.to_datetime(end) -pd.to_datetime(start)).seconds, row["tripduration"]

(327, 327)

In [5]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,327,2019-09-01 00:00:01.9580,2019-09-01 00:05:29.3410,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,Subscriber,1968,1
1,1145,2019-09-01 00:00:04.1430,2019-09-01 00:19:09.8360,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,Customer,1969,0
2,1293,2019-09-01 00:00:07.3090,2019-09-01 00:21:40.7580,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,Customer,1969,0
3,1753,2019-09-01 00:00:08.0640,2019-09-01 00:29:21.5040,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,Subscriber,1990,1
4,613,2019-09-01 00:00:12.8510,2019-09-01 00:10:26.1850,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444895,1764,2019-09-30 23:59:22.7670,2019-10-01 00:28:47.3180,3314,W 95 St & Broadway,40.793770,-73.971888,3161,W 76 St & Columbus Ave,40.780184,-73.977285,41516,Customer,1995,1
2444896,378,2019-09-30 23:59:27.9270,2019-10-01 00:05:46.5700,316,Fulton St & William St,40.709560,-74.006536,327,Vesey Pl & River Terrace,40.715338,-74.016584,31124,Subscriber,1959,2
2444897,561,2019-09-30 23:59:29.1450,2019-10-01 00:08:50.8070,3260,Mercer St & Bleecker St,40.727064,-73.996621,393,E 5 St & Avenue C,40.722992,-73.979955,30285,Customer,1998,1
2444898,311,2019-09-30 23:59:42.2520,2019-10-01 00:04:54.2320,3746,6 Ave & Broome St,40.724308,-74.004730,3435,Grand St & Elizabeth St,40.718822,-73.995960,38290,Subscriber,1989,1
2444899,1500,2019-09-30 23:59:55.3740,2019-10-01 00:24:55.8400,331,Pike St & Monroe St,40.711731,-73.991930,2012,E 27 St & 1 Ave,40.739445,-73.976806,34013,Customer,1969,0

In [6]:
row  = df.iloc[0]

In [13]:
def compute_distance(row):
    start = row["start station latitude"], row["start station longitude"]
    end = row["end station latitude"], row["end station longitude"]
    row["distance_meters"] = int(geopy.distance.distance(start, end).m)
    return row

In [15]:
df.head(1000).apply(compute_distance, axis=1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,distance_meters
0,327,2019-09-01 00:00:01.9580,2019-09-01 00:05:29.3410,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,Subscriber,1968,1,673
1,1145,2019-09-01 00:00:04.1430,2019-09-01 00:19:09.8360,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,Customer,1969,0,2131
2,1293,2019-09-01 00:00:07.3090,2019-09-01 00:21:40.7580,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,Customer,1969,0,2554
3,1753,2019-09-01 00:00:08.0640,2019-09-01 00:29:21.5040,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,Subscriber,1990,1,2094
4,613,2019-09-01 00:00:12.8510,2019-09-01 00:10:26.1850,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,Subscriber,1992,1,1790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,706,2019-09-01 00:54:07.4850,2019-09-01 01:05:54.2000,3400,E 110 St & Madison Ave,40.796154,-73.947821,3345,Madison Ave & E 99 St,40.789485,-73.952429,30017,Subscriber,1998,2,836
996,703,2019-09-01 00:54:15.6860,2019-09-01 01:05:59.5370,251,Mott St & Prince St,40.723180,-73.994800,432,E 7 St & Avenue A,40.726218,-73.983799,34949,Subscriber,1994,1,988
997,365,2019-09-01 00:54:18.6930,2019-09-01 01:00:24.6210,389,Broadway & Berry St,40.710446,-73.965251,3085,Roebling St & N 4 St,40.714690,-73.957390,32945,Subscriber,1985,2,814
998,420,2019-09-01 00:54:21.2600,2019-09-01 01:01:22.2350,236,St Marks Pl & 2 Ave,40.728419,-73.987140,2012,E 27 St & 1 Ave,40.739445,-73.976806,19206,Subscriber,1995,2,1503
999,207,2019-09-01 00:54:22.9580,2019-09-01 00:57:50.2600,317,E 6 St & Avenue B,40.724537,-73.981854,3711,E 13 St & Avenue A,40.729667,-73.980680,20821,Subscriber,1998,1,578

In [9]:
import geopy

In [10]:
geopy.distance.distance(start, end).m

673.6344546649061

In [ ]:
df["starttime"] = pd.to_datetime(df["starttime"])

In [ ]:
df = df[["starttime", "tripduration", "start station id", "end station id", "usertype", "birth year", "gender"]]

In [ ]:
# ISO: (year, week, weekday)
df["year"] = df.starttime.map(lambda x: x.isocalendar()[0])
df["week"] = df.starttime.map(lambda x: x.isocalendar()[1])
df["weekday"] = df.starttime.map(lambda x: x.isocalendar()[2])
df["hour"] = df.starttime.map(lambda x: x.hour)
df["minute"] = df.starttime.map(lambda x: x.minute)
df["duration_minutes"] = df.tripduration.map(lambda x: x // 60)
df["start_station"] = df["start station id"]
df["end_station"] = df["end station id"]
df["birth_year"] = df["birth year"].map(lambda x: x - 1920 if x > 1920 else np.NaN)
df["usertype"] = df["usertype"].map(lambda x: 0 if x == "Customer" else 1)

df = df.dropna()

df.drop(columns=["tripduration", "starttime", "start station id", "end station id"], inplace=True)

In [ ]:
df

,usertype,birth year,gender,year,week,hour,minute,duration_minutes,start_station,end_station
0,Subscriber,1968,1,2019,7,0,0,5,3733,504
1,Customer,1969,0,2019,7,0,0,19,3329,270
2,Customer,1969,0,2019,7,0,0,21,3168,423
3,Subscriber,1990,1,2019,7,0,0,29,3299,3160
4,Subscriber,1992,1,2019,7,0,0,10,486,478
...,...,...,...,...,...,...,...,...,...,...
2444895,Customer,1995,1,2019,1,23,59,29,3314,3161
2444896,Subscriber,1959,2,2019,1,23,59,6,316,327
2444897,Customer,1998,1,2019,1,23,59,9,3260,393
2444898,Subscriber,1989,1,2019,1,23,59,5,3746,3435
2444899,Customer,1969,0,2019,1,23,59,25,331,2012

In [ ]:
df.dtypes

usertype            object
birth year           int64
gender               int64
year                 int64
week                 int64
hour                 int64
minute               int64
duration_minutes     int64
start_station        int64
end_station          int64
dtype: object

In [ ]:
df.start_station.describe()

count    2.444900e+06
mean     1.664439e+03
std      1.483324e+03
min      7.200000e+01
25%      3.790000e+02
50%      5.090000e+02
75%      3.296000e+03
max      3.858000e+03
Name: start_station, dtype: float64

In [ ]:
min(df["birth year"])

1874

In [ ]:
df.usertype.describe()

count        2444900
unique             2
top       Subscriber
freq         2010493
Name: usertype, dtype: object

In [ ]:
df.dropwhere(df["birth year"] < 1920)

AttributeError: 'DataFrame' object has no attribute 'dropwhere'

In [ ]:
df

,starttime,tripduration,start station id,end station id,usertype,birth year,gender,year,week,hour,minute
0,2019-09-01 00:00:01.958,327,3733,504,Subscriber,1968,1,2019,7,0,0
1,2019-09-01 00:00:04.143,1145,3329,270,Customer,1969,0,2019,7,0,0
2,2019-09-01 00:00:07.309,1293,3168,423,Customer,1969,0,2019,7,0,0
3,2019-09-01 00:00:08.064,1753,3299,3160,Subscriber,1990,1,2019,7,0,0
4,2019-09-01 00:00:12.851,613,486,478,Subscriber,1992,1,2019,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2444895,2019-09-30 23:59:22.767,1764,3314,3161,Customer,1995,1,2019,1,23,59
2444896,2019-09-30 23:59:27.927,378,316,327,Subscriber,1959,2,2019,1,23,59
2444897,2019-09-30 23:59:29.145,561,3260,393,Customer,1998,1,2019,1,23,59
2444898,2019-09-30 23:59:42.252,311,3746,3435,Subscriber,1989,1,2019,1,23,59
2444899,2019-09-30 23:59:55.374,1500,331,2012,Customer,1969,0,2019,1,23,59

In [ ]:
df["start"] = df.starttime.map(lambda x: f"{x.weekday()}-{x.hour}-{x.minute}")

In [ ]:
# Slower than just mapping multiple times
def split_time(row):
    year, week, weekday = row["starttime"].isocalendar()
    row["year"] = year
    row["week"] = week
    row["weekday"] = weekday
    row["hour"] = row["starttime"].hour
    row["minute"] = row["starttime"].minute
    return row

In [ ]:
df.head(1000).apply(split_time, axis=1)

,starttime,tripduration,start station id,end station id,usertype,birth year,gender,year,week,weekday,hour,minute
0,2019-09-01 00:00:01.958,327,3733,504,Subscriber,1968,1,2019,35,7,0,0
1,2019-09-01 00:00:04.143,1145,3329,270,Customer,1969,0,2019,35,7,0,0
2,2019-09-01 00:00:07.309,1293,3168,423,Customer,1969,0,2019,35,7,0,0
3,2019-09-01 00:00:08.064,1753,3299,3160,Subscriber,1990,1,2019,35,7,0,0
4,2019-09-01 00:00:12.851,613,486,478,Subscriber,1992,1,2019,35,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2019-09-01 00:54:07.485,706,3400,3345,Subscriber,1998,2,2019,35,7,0,54
996,2019-09-01 00:54:15.686,703,251,432,Subscriber,1994,1,2019,35,7,0,54
997,2019-09-01 00:54:18.693,365,389,3085,Subscriber,1985,2,2019,35,7,0,54
998,2019-09-01 00:54:21.260,420,236,2012,Subscriber,1995,2,2019,35,7,0,54
999,2019-09-01 00:54:22.958,207,317,3711,Subscriber,1998,1,2019,35,7,0,54

In [ ]:
len(df) / 1000 *2.7

6601.2300000000005

In [ ]:
df.starttime.apply(lambda x: (x.hour(), x.minute()),  axis = 1, result_type ='expand')

TypeError: <lambda>() got an unexpected keyword argument 'axis'

In [ ]:
pd.to_datetime(

0          35
1          35
2          35
3          35
4          35
           ..
2444895    40
2444896    40
2444897    40
2444898    40
2444899    40
Name: starttime, Length: 2444900, dtype: object

In [ ]:

def year_month_iterator():
    # age/gender are present until at least Jan 2021. In 2017 the column names are different
    start_year = 2018
    end_year = 2020    
    for year in range(start_year, end_year + 1):
        for month in range(1, 13):
            name = f"{year}{month:02d}"
            yield name

In [ ]:
mins, maxs = [], []
for name in year_month_iterator():
    df = pd.read_csv(f"months/{name}.csv")
    mins.append(df.start_station.min())
    maxs.append(df.start_station.max())

In [ ]:
mins, maxs = [], []
for name in year_month_iterator():
    df = pd.read_csv(f"months/{name}.csv")
    mins.append(df.duration_minutes.min())
    maxs.append(df.duration_minutes.max())

In [ ]:
min(mins)

1

In [ ]:
max(maxs)

325167

In [ ]:
maxs

[325167,
 266037,
 250348,
 169544,
 171394,
 126188,
 80493,
 51584,
 40527,
 41681,
 44121,
 52810,
 44664,
 40050,
 49496,
 42876,
 48710,
 56326,
 43687,
 63544,
 48410,
 49110,
 50922,
 55071,
 32545,
 55309,
 54119,
 63103,
 47675,
 46981,
 58706,
 42544,
 58031,
 37428,
 40380,
 44793]

In [ ]:
df.duration_minutes.quantile(q=0.995)

83.0

In [ ]:
mins, maxs = [], []
for name in year_month_iterator():
    df = pd.read_csv(f"months/{name}.csv")
    print(df.duration_minutes.quantile(q=0.995))

51.0
54.0
60.0
90.0
99.0
101.0
104.0
94.0
91.0
76.0
73.0
64.0
57.0
59.0
73.0
97.0
91.0
93.0
92.0
92.0
86.0
75.0
65.0
62.0
59.0
60.0
101.0
157.0
191.0
197.0
156.0
140.0
126.0
111.0
104.0
83.0

In [ ]:
df.start_station.max()

4332