**Processing Covid Cases Dataset**

We first process the dataset on cases and deaths in California. We select five useful features only: date, area, cases, deaths, and total tests.

In [1]:
import os
import random
import pandas as pd 
import numpy as np
from datetime import datetime,timedelta
from random import randint

# from scipy import stats

df = pd.read_csv("covid19cases_test.csv")
df = df.loc[df['area'] == "California"]
df = df.astype({'date':'string'})
df = df[df['date'].notna()]
df = df[df.date >= '2020-04-22']
format = '%Y-%m-%d'
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, format))
df = df.sort_values(["date"])
df = df[['date','area', 'cases','deaths','total_tests']]
df

           date        area   cases  deaths  total_tests
4901 2020-04-22  California  1763.0    85.0      24098.0
4902 2020-04-23  California  1840.0    89.0      25485.0
4903 2020-04-24  California  2009.0    80.0      29676.0
4904 2020-04-25  California  1617.0    67.0      19948.0
4905 2020-04-26  California  1267.0    71.0      11504.0
...         ...         ...     ...     ...          ...
5778 2022-09-16  California  3263.0     0.0      83730.0
5779 2022-09-17  California  2026.0     0.0      36169.0
5780 2022-09-18  California  1189.0     1.0      21461.0
5781 2022-09-19  California   803.0     0.0      14928.0
5782 2022-09-20  California     0.0     0.0          NaN

[882 rows x 5 columns]

**Processing Covid Demographic Dataset**

We process the demogrgaphic covid dataset and sort them by date. We only select Covid related features

In [2]:
age = pd.read_csv("covidage.csv")
age.rename(columns = {'Age Group':'age_group'}, inplace = True)
age = age.astype({'date':'string'})
age = age[age['date'].notna()]
format = '%Y-%m-%d'
age['date'] = age['date'].apply(lambda x: datetime.strptime(x, format))
age = age[age.date >= '2020-04-22']
age = age[age.age_group != 'missing']
age = age[age.age_group != 'Missing']
age = age[age.age_group != 'Total']
age = age.sort_values(["date"])
age.drop(columns=['total_cases_by_age', 'age_based_case_rate', 'age_based_deaths', 'age_based_death_rate'], inplace=True)

age

,age_group,total_cases_by_age,age_based_case_rate,age_based_deaths,age_based_death_rate,date
0,0-17,855,2.3,0,0.0,2020-04-22
1370,50-64,10025,26.8,223,16.0,2020-04-22
2055,65+,8401,22.5,1074,76.9,2020-04-22
685,18-49,18004,48.2,99,7.1,2020-04-22
1,0-17,936,2.4,0,0.0,2020-04-23
...,...,...,...,...,...,...
683,0-17,1873372,18.1,77,0.1,2022-09-08
1369,18-49,5687623,54.8,7649,8.1,2022-09-20
684,0-17,1879863,18.1,79,0.1,2022-09-20
2054,50-64,1794542,17.3,19558,20.6,2022-09-20
2739,65+,1016587,9.8,67716,71.3,2022-09-20

In [3]:
from pandas.core.sorting import get_indexer_indexer
gender = pd.read_csv("covidgender.csv")
gender = gender.astype({'date':'string'})
gender = gender[gender['date'].notna()]
format = '%Y-%m-%d'
gender['date'] = gender['date'].apply(lambda x: datetime.strptime(x, format))
gender = gender[gender.date >= '2020-04-22']
gender = gender[gender.Gender != 'missing']
gender = gender[gender.Gender != 'Missing']
gender = gender[gender.Gender != 'Unknown']
gender = gender[gender.Gender != 'Total']
gender = gender.sort_values(["date"])

gender.drop(columns=['total_cases_by_gender', 'gender_based_case_rate', 'gender_based_deaths', 'gender_based_death_rate'], inplace=True)

gender

,Gender,total_cases_by_gender,gender_based_case_rate,gender_based_deaths,gender_based_death_rate,date
0,Female,18395,49.2,552,39.5,2020-04-22
685,Male,18690,50.0,839,60.1,2020-04-22
686,Male,19577,49.9,891,59.8,2020-04-23
1,Female,19394,49.4,593,39.8,2020-04-23
2,Female,20395,49.6,625,39.7,2020-04-24
...,...,...,...,...,...,...
682,Female,5332683,51.7,39122,41.5,2022-09-05
1368,Male,4812540,46.6,55065,58.2,2022-09-08
683,Female,5341118,51.7,39221,41.5,2022-09-08
684,Female,5370912,51.7,39445,41.5,2022-09-20
1369,Male,4837455,46.6,55290,58.2,2022-09-20

In [4]:
enthnicity = pd.read_csv("covidethnicity.csv")
enthnicity = enthnicity.astype({'date':'string'})
enthnicity = enthnicity[enthnicity['date'].notna()]
format = '%Y-%m-%d'
enthnicity['date'] = enthnicity['date'].apply(lambda x: datetime.strptime(x, format))
enthnicity = enthnicity[enthnicity.date >= '2020-04-22']
enthnicity = enthnicity[enthnicity.Ethnicity != 'missing']
enthnicity = enthnicity[enthnicity.Ethnicity != 'Missing']
enthnicity = enthnicity[enthnicity.Ethnicity != 'Unknown']
enthnicity = enthnicity[enthnicity.Ethnicity != 'Total']
enthnicity = enthnicity.sort_values(["date"])

enthnicity.drop(columns=['total_cases_by_ethnicity', 'ethnicity_based_case_rate', 'ethnicity_based_deaths', 'ethnicity_based_death_rate'], inplace=True)
enthnicity

,Ethnicity,total_cases_by_ethnicity,ethnicity_based_case_rate,ethnicity_based_deaths,ethnicity_based_death_rate,date
9,American Indian or Alaska Native,53,0.2,5,0.4,2020-04-22
703,Asian,3133,12.7,224,17.7,2020-04-22
2091,Latino,10385,42.1,406,32.0,2020-04-22
2785,Multi-Race,201,0.8,3,0.2,2020-04-22
3479,Native Hawaiian and other Pacific Islander,339,1.4,15,1.2,2020-04-22
...,...,...,...,...,...,...
2081,Black,451822,5.4,6656,7.0,2022-09-20
1387,Asian,853137,10.2,10388,11.0,2022-09-20
693,American Indian or Alaska Native,38562,0.5,465,0.5,2022-09-20
4857,Other,973398,11.6,928,1.0,2022-09-20
6245,White,2116012,25.3,33397,35.4,2022-09-20

In [5]:
merged_age_gender = pd.merge(age, gender, on="date", how="left")
merged_all = pd.merge(merged_age_gender, enthnicity, on="date", how="left")
first_column = merged_all.pop('date')
  
# insert column using insert(position,column_name,
# first_column) function
merged_all.insert(0, 'date', first_column)
merged_all.replace(np.NaN, 0)
merged_all

,date,age_group,total_cases_by_age,age_based_case_rate,age_based_deaths,age_based_death_rate,Gender,total_cases_by_gender,gender_based_case_rate,gender_based_deaths,gender_based_death_rate,Ethnicity,total_cases_by_ethnicity,ethnicity_based_case_rate,ethnicity_based_deaths,ethnicity_based_death_rate
0,2020-04-22,0-17,855,2.3,0,0.0,Female,18395,49.2,552,39.5,American Indian or Alaska Native,53,0.2,5,0.4
1,2020-04-22,0-17,855,2.3,0,0.0,Female,18395,49.2,552,39.5,Asian,3133,12.7,224,17.7
2,2020-04-22,0-17,855,2.3,0,0.0,Female,18395,49.2,552,39.5,Latino,10385,42.1,406,32.0
3,2020-04-22,0-17,855,2.3,0,0.0,Female,18395,49.2,552,39.5,Multi-Race,201,0.8,3,0.2
4,2020-04-22,0-17,855,2.3,0,0.0,Female,18395,49.2,552,39.5,Native Hawaiian and other Pacific Islander,339,1.4,15,1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43835,2022-09-20,65+,1016587,9.8,67716,71.3,Male,4837455,46.6,55290,58.2,Black,451822,5.4,6656,7.0
43836,2022-09-20,65+,1016587,9.8,67716,71.3,Male,4837455,46.6,55290,58.2,Asian,853137,10.2,10388,11.0
43837,2022-09-20,65+,1016587,9.8,67716,71.3,Male,4837455,46.6,55290,58.2,American Indian or Alaska Native,38562,0.5,465,0.5
43838,2022-09-20,65+,1016587,9.8,67716,71.3,Male,4837455,46.6,55290,58.2,Other,973398,11.6,928,1.0
43839,2022-09-20,65+,1016587,9.8,67716,71.3,Male,4837455,46.6,55290,58.2,White,2116012,25.3,33397,35.4

**Merge the two datasets by date**

We merge the processed Covid cases dataset with processed demographic dataset by the date column. We're interested in daily cases, daily deaths and total tests in California on each date. At that date, we also include relevant demographic information: we incorporate percent_cases and percent_deaths of each demographic category.

In [6]:
final=pd.merge(df, merged_all, on="date", how="left")
final = final.rename(columns={'cases': 'daily_cases'})
final = final.rename(columns={'deaths': 'daily_deaths'})
final = final.rename(columns={'total_tests': 'daily_total_tests'})
final

,date,area,daily_cases,daily_deaths,daily_total_tests,age_group,total_cases_by_age,age_based_case_rate,age_based_deaths,age_based_death_rate,Gender,total_cases_by_gender,gender_based_case_rate,gender_based_deaths,gender_based_death_rate,Ethnicity,total_cases_by_ethnicity,ethnicity_based_case_rate,ethnicity_based_deaths,ethnicity_based_death_rate
0,2020-04-22,California,1763.0,85.0,24098.0,0-17,855.0,2.3,0.0,0.0,Female,18395.0,49.2,552.0,39.5,American Indian or Alaska Native,53.0,0.2,5.0,0.4
1,2020-04-22,California,1763.0,85.0,24098.0,0-17,855.0,2.3,0.0,0.0,Female,18395.0,49.2,552.0,39.5,Asian,3133.0,12.7,224.0,17.7
2,2020-04-22,California,1763.0,85.0,24098.0,0-17,855.0,2.3,0.0,0.0,Female,18395.0,49.2,552.0,39.5,Latino,10385.0,42.1,406.0,32.0
3,2020-04-22,California,1763.0,85.0,24098.0,0-17,855.0,2.3,0.0,0.0,Female,18395.0,49.2,552.0,39.5,Multi-Race,201.0,0.8,3.0,0.2
4,2020-04-22,California,1763.0,85.0,24098.0,0-17,855.0,2.3,0.0,0.0,Female,18395.0,49.2,552.0,39.5,Native Hawaiian and other Pacific Islander,339.0,1.4,15.0,1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44032,2022-09-20,California,0.0,0.0,NaN,65+,1016587.0,9.8,67716.0,71.3,Male,4837455.0,46.6,55290.0,58.2,Black,451822.0,5.4,6656.0,7.0
44033,2022-09-20,California,0.0,0.0,NaN,65+,1016587.0,9.8,67716.0,71.3,Male,4837455.0,46.6,55290.0,58.2,Asian,853137.0,10.2,10388.0,11.0
44034,2022-09-20,California,0.0,0.0,NaN,65+,1016587.0,9.8,67716.0,71.3,Male,4837455.0,46.6,55290.0,58.2,American Indian or Alaska Native,38562.0,0.5,465.0,0.5
44035,2022-09-20,California,0.0,0.0,NaN,65+,1016587.0,9.8,67716.0,71.3,Male,4837455.0,46.6,55290.0,58.2,Other,973398.0,11.6,928.0,1.0
44036,2022-09-20,California,0.0,0.0,NaN,65+,1016587.0,9.8,67716.0,71.3,Male,4837455.0,46.6,55290.0,58.2,White,2116012.0,25.3,33397.0,35.4

In [ ]:
#final.to_csv('/content/dataset.csv', encoding='utf-8', index=False)

**Due to RAM issue, the giant full dataset should be processed on server and pushed to github. We're just showing an example of exploding the first 100 rows for user-level DP**

**Finalized Dataset: Low Sensitivity of cases and daily_deaths**

To get better DP accuracy and error bounds guarantees, we explode the rows by cases and daily_deaths. For example, if we have 10 cases and 10 deaths on a row of date 2020-04-22, then we expand that row of 2020-04-22 rows by 10 x 10 rows. Then we fill in random 0's and 1's. The total count of cases and deaths from expanded rows still matches the original number in the single row. But we bring down sensitivity this way.

In [7]:
# final = final.head(100)
finalized_pd = final.loc[final.index.repeat(final.daily_cases.sub(final.daily_deaths) + 1)]

In [8]:
finalized_pd['positive'] =  np.random.randint(0,2, size=len(finalized_pd))
finalized_pd['deceased'] =  np.random.randint(0,2, size=len(finalized_pd))
finalized_pd = finalized_pd.rename(columns={"age_group": "age", "Ethnicity": "ethnicity", "Gender": "gender"})
finalized_pd.drop(columns=['date', 'area', 'daily_cases', 'daily_deaths', 'daily_total_tests',
       'total_cases_by_age', 'age_based_case_rate', 'age_based_deaths',
       'age_based_death_rate', 'total_cases_by_gender',
       'gender_based_case_rate', 'gender_based_deaths',
       'gender_based_death_rate', 'total_cases_by_ethnicity',
       'ethnicity_based_case_rate', 'ethnicity_based_deaths',
       'ethnicity_based_death_rate'], inplace=True)
finalized_pd.keys()

Index(['age', 'gender', 'ethnicity', 'positive', 'deceased'], dtype='object')

In [9]:
# finalized_pd_final = finalized_pd[['positive', 'deceased', 'age', 'ethnicity', 'gender']]
finalized_pd.head(10)

    age  gender                         ethnicity  positive  deceased
0  0-17  Female  American Indian or Alaska Native         1         0
0  0-17  Female  American Indian or Alaska Native         1         1
0  0-17  Female  American Indian or Alaska Native         0         1
0  0-17  Female  American Indian or Alaska Native         1         1
0  0-17  Female  American Indian or Alaska Native         0         0
0  0-17  Female  American Indian or Alaska Native         0         0
0  0-17  Female  American Indian or Alaska Native         0         1
0  0-17  Female  American Indian or Alaska Native         1         0
0  0-17  Female  American Indian or Alaska Native         0         1
0  0-17  Female  American Indian or Alaska Native         0         1

In [10]:
k = 2500 #100
size = 203828 #250000 
 
for i in range(k):
    df = finalized_pd[size*i:size*(i+1)]
    df.to_csv(f'blocks/covid_block_{i}.csv', index=True)

In [11]:
import json
metadata = {}
metadata['block_size'] = size

json_object = json.dumps(metadata, indent=4)
with open("metadata.json", "w") as outfile:
    outfile.write(json_object)